<div class="mb-2 bg-secondary">
    <marquee class="mt-2 {{marqueClass}}" direction="left" speed="slow" behavior="loop">
        Welcome To student Management Using Angular and Django !!!!
    </marquee>
</div>
<div class=" mb-4 ml-4 mr-4">
    <div class="row m-0">
        <div class="col-md-3 m-0">
            <div class="card h-100 border border-dark ">

            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <img class="img-fluid rounded" src="assets/Images/StudentImage.png" alt="...">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">

            </div>
        </div>
    </div>
</div>